{% extends 'base.html' %}

{% block head %} {% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg bg-dark navbar-dark  py-3 fixed-top">
    <div class="container">
        <a href="#" class="navbar-brand">Queen Esther's Blog</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="/newpost" class="nav-link">New Post</a>
                </li>
                <li class="nav-item">
                    <a href="/posts" class="nav-link">All Post</a>
                </li>
                <li class="nav-item">
                    <a href="#instructors" class="nav-link">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>Everything <span class="text-warning">Health Technology</span></h1>
                <p class="lead my-4">
                    Technolgy like in finance and business is disrupting healthcare delivery and in this blog we hope to keep you abreast of new development
                </p>
                <button class="btn btn-primary btn-lg">
                    Subscribe to our Newsletter
                </button>
            </div>
            <img class="img-fluid w-50 d-none d-sm-block" src="{{url_for('static', filename='img/doctors.svg')}}" alt="" />
        </div>
    </div>
</section>
<section class="bg-dark text-light text-center p-5">
    <div class="container ">
    <h1>Trending Articles</h1>
    <ul class="list-group list-group-flush bg-dark text-light">
        {% for post in posts %}
           <li class="list-group-item">{{ post.title }}</li>
        {% endfor %} 
    </ul>
    </div>
</section>
{% endblock %}
